{% extends "UserInterface/base.html" %}{% load static %}{% block sb_admin_title %}Apply Server{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>
    <a href="index.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">
        <i class="fa fa-edit"></i>  Apply Server
    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
    <div class="row">
        <div class="col-lg-6">

            <form name="upload_config" role="form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% comment %}
                             <div class="form-group">
                                <label>Text Input</label>
                                <input class="form-control">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Text Input with Placeholder</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>

                            <div class="form-group">
                                <label>Static Control</label>
                                <p class="form-control-static">email@example.com</p>
                            </div>
{% endcomment %}

                <div class="form-group">
                    <label>{{ status }}</label>
                    {{ config_file.config_file }}
                    <!-- <input type="file">
                    -->
                </div>
                {% comment %}
                            <div class="form-group">
                                <label>text area</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label>checkboxes</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">checkbox 1
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">checkbox 2
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">checkbox 3
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>inline checkboxes</label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">1
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">2
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">3
                                </label>
                            </div>

                            <div class="form-group">
                                <label>radio buttons</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsradios" id="optionsradios1" value="option1" checked>radio 1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsradios" id="optionsradios2" value="option2">radio 2
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsradios" id="optionsradios3" value="option3">radio 3
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>inline radio buttons</label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsradiosinline" id="optionsradiosinline1" value="option1" checked>1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsradiosinline" id="optionsradiosinline2" value="option2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsradiosinline" id="optionsradiosinline3" value="option3">3
                                </label>
                            </div>
{% endcomment %}

{% comment %}                <div class="form-group">
                    <label>Selects Namespaces</label>
                    <select class="form-control">
                        {% for spec_namespace in namespaces %}
                            <option>{{ spec_namespace }}</option>
                        {% endfor %}
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Selects Pod</label>
                    <select class="form-control">
                        {% for spec_pod in pods %}
                            <option>{{ spec_namespace }}</option>
                        {% endfor %}
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>{% endcomment %}
                {% comment %}                            <div class="form-group">
                                <label>Multiple Selects</label>
                                <select multiple class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>{% endcomment %}
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>

            </form>

        </div>
        {% comment %}
        <div class="col-lg-6">
            <h1>Disabled Form States</h1>

            <form role="form">

                <fieldset disabled>

                    <div class="form-group">
                        <label for="disabledSelect">Disabled input</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                               disabled>
                    </div>

                    <div class="form-group">
                        <label for="disabledSelect">Disabled select menu</label>
                        <select id="disabledSelect" class="form-control">
                            <option>Disabled select</option>
                        </select>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Disabled Checkbox
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Disabled Button</button>

                </fieldset>

            </form>

            <h1>Form Validation</h1>

            <form role="form">

                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess">Input with success</label>
                    <input type="text" class="form-control" id="inputSuccess">
                </div>

                <div class="form-group has-warning">
                    <label class="control-label" for="inputWarning">Input with warning</label>
                    <input type="text" class="form-control" id="inputWarning">
                </div>

                <div class="form-group has-error">
                    <label class="control-label" for="inputError">Input with error</label>
                    <input type="text" class="form-control" id="inputError">
                </div>

            </form>

            <h1>Input Groups</h1>

            <form role="form">

                <div class="form-group input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input type="text" class="form-control" placeholder="Font Awesome Icon">
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn"><button class="btn btn-default" type="button"><i
                            class="fa fa-search"></i></button></span>
                </div>

            </form>
{% endcomment %}


    </div>
    </div>
{% endblock sb_admin_content %}
